{% extends "partials/base.html" %}
{% load static %}
{% block title %}Listjs{% endblock title %}
{% block extra_css %}
<!-- Sweet Alert css-->
<link href="{% static 'libs/sweetalert2/dist/sweetalert2.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock extra_css %}
{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            {% block pagetitle %}
            {% include "partials/page-title.html" with pagetitle="Tables" title="Listjs" %}
            {% endblock pagetitle %}

            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Add, Edit & Remove</h4>
                        </div><!-- end card header -->
                        

                        <form  method="post" action="{% url 'randevu' %}">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <div class="col-lg-3">
                                    <label for="nameInput" class="form-label">Name</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control"  name="customer_name" placeholder="Enter your name">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-3">
                                    <label for="topInput" class="form-label">konusu</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" name="konu"  placeholder="Talep Konusu">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-3">
                                    <label for="dateInput" class="form-label">Date</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="date" name="joining_date" class="form-control" >
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-3">
                                    <label for="timeInput" class="form-label">start Time</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="time" class="form-control"  name="start_time">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-lg-3">
                                    <label for="timeInput" class="form-label">end Time</label>
                                </div>
                                <div class="col-lg-9">
                                    <input type="time" class="form-control"  name="end_time">
                                </div>
                            </div>
                         <div class="row mb-3">
                                   

                               
                                <div class="row mb-3">
                                    <label for="status-field" class="form-label">Status</label>
                                    <select class="form-control" data-trigger name="status"  required>
                                        
                                        <option value="Active">Active</option>
                                        <option value="Block">Block</option>
                                    </select>
                                </div>
                            </div>
          
                     
                            <div class="text-end">
                                <button type="submit" class="btn btn-primary">Add Leave</button>
                            </div>
                        </form>

                   
                    </div>
                    <!-- end col -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->


            <!-- end row -->


         
















            <!--end modal -->

        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    {% block footer %}
    {% include "partials/footer.html" %}
    {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}
{% block extra_js %}
<!-- jQuery kütüphanesini ekleyin -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>




<!-- JavaScript kodlarınız -->
<script>
$(document).ready(function () {
    // Müşteri Ekle butonuna tıklandığında
    $("#add-btn").click(function () {
        // Form verilerini al
        var formData = $(".tablelist-form").serialize();
        console.log(data)
        // AJAX isteği gönder
        $.ajax({
            
            type: "POST",
            url: "/django-view-url/",  // Django görünüm URL'nizi buraya ekleyin
            
            data: formData,
            success: function (data) {
                console.log(data);  // Sunucudan gelen yanıtı konsola yazdır
                // İsteğe bağlı olarak yanıtı işleyebilir veya kullanıcıyı yönlendirebilirsiniz
            },
            error: function (error) {
                console.log("Hata:", error);
            }
        });
    });
});

</script>

<!-- prismjs plugin -->
<script src="{% static 'libs/prismjs/prism.js'%}"></script>
<script src="{% static 'libs/list.js/list.min.js'%}"></script>
<script src="{% static 'libs/list.pagination.js/dist/list.pagination.min.js'%}"></script>

<!-- listjs init -->
<script src="{% static 'js/pages/listjs.init.js' %}"></script>
<!-- Sweet Alerts js -->
<script src="{% static 'libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>
{% endblock extra_js %}