{% extends "partials/base.html" %}
{% load static %}
{% block title %}Calendar{% endblock title %}

{% block content %}
<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            {% block pagetitle %}
            {% include "partials/page-title.html" with pagetitle="Apps" title="Calendar" %}
            {% endblock pagetitle %}

            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-xl-3">
                            <div class="card card-h-100">
                                <div class="card-body">
                                    <button class="btn btn-primary w-100" id="btn-new-event"><i
                                            class="mdi mdi-plus"></i> Create New Event</button>

                                    <div id="external-events">
                                        <br>
                                        <p class="text-muted">Drag and drop your event or click in the calendar</p>
                                        <div class="external-event fc-event bg-success-subtle text-success"
                                            data-class="bg-success-subtle">
                                            <i class="mdi mdi-checkbox-blank-circle me-2"></i>New Event
                                            Planning
                                        </div>
                                        <div class="external-event fc-event bg-info-subtle text-info"
                                            data-class="bg-info-subtle">
                                            <i class="mdi mdi-checkbox-blank-circle me-2"></i>Meeting
                                        </div>
                                        <div class="external-event fc-event bg-warning-subtle text-warning"
                                            data-class="bg-warning-subtle">
                                            <i class="mdi mdi-checkbox-blank-circle me-2"></i>Generating
                                            Reports
                                        </div>
                                        <div class="external-event fc-event bg-danger-subtle text-danger"
                                            data-class="bg-danger-subtle">
                                            <i class="mdi mdi-checkbox-blank-circle me-2"></i>Create
                                            New theme
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div>
                                <h5 class="mb-1">Upcoming Events</h5>
                                <p class="text-muted">Don't miss scheduled events</p>
                                <div class="pe-2 me-n1 mb-3" data-simplebar style="height: 400px">
                                    <div id="upcoming-event-list"></div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body bg-info-subtle">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <i data-feather="calendar" class="text-info icon-dual-info"></i>
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6 class="fs-15">Welcome to your Calendar!</h6>
                                            <p class="text-muted mb-0">Event that applications book will appear here.
                                                Click on an event to see the details and manage applicants event.</p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end card-->
                        </div> <!-- end col-->

                        <div class="col-xl-9">
                            <div class="card card-h-100">
                                <div class="card-body">
                                    <div id="calendar"></div>
                                </div>
                            </div>
                        </div><!-- end col -->
                    </div><!--end row-->

                    <div style='clear:both'></div>

                    <!-- Add New Event MODAL -->
 <!-- end modal-->
                    <!-- end modal-->
                </div>
            </div> <!-- end row-->

        </div>
        <!-- container-fluid -->
    </div>
    <!-- End Page-content -->

    {% block footer %}
    {% include "partials/footer.html" %}
    {% endblock footer %}
</div>
<!-- end main content-->
{% endblock content %}
{% block extra_js %}
<!-- calendar min js -->
<script src="{% static 'libs/fullcalendar/index.global.min.js' %}"></script>

<!-- Calendar init -->
<script src="{% static 'js/pages/calendar.init.js'%}"></script>


<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {


        // Function to handle form submission using Ajax
        $("#form-event").submit(function (e) {
            e.preventDefault(); // Prevent the default form submission

            // Get CSRF token
            var csrfToken = $("[name=csrfmiddlewaretoken]").val();






            // Get form data
            var formData = {
                category: $("#event-category").val(),
                title: $("#event-title").val(),
                start_date: $("#event-start-date").val(),
                start_time: $("#timepicker1").val(),
                end_time: $("#timepicker2").val(),
                location: $("#event-location").val(),
                description: $("#event-description").val(),
                eventId: $("#eventid").val(),

                csrfmiddlewaretoken: csrfToken // Include CSRF token


            };
            // Eğer startDate doluysa ve boş bir değilse, split işlemi gerçekleştir
            






            // Perform Ajax request
            $.ajax({
                type: "POST",
                url: "{% url 'save_event' %}", // Replace 'your_backend_view_name' with your actual Django view name
                data: formData,
                success: function (data) {
                    console.log(typeof (startDate))
                    console.log("Veriler başarıyla gönderildi:", formData); // Verileri konsola yazdır
                    console.log("Server tarafından dönen cevap:", data);
                    console.log(data);
                    // You can update the UI or perform other actions on success
                },
                error: function (error) {
                    // Handle the error response
                    console.error("Ajax request failed:", error);
                    console.log("Hata detayları:", error.responseJSON);
                }
            });
        });

        // Additional code for handling delete event button click
        $("#btn-delete-event").click(function () {
            var eventId = $("#eventid").val();

            // Perform Ajax request to delete event
            $.ajax({
                type: "POST",
                url: "{% url 'save_event' %}", // Replace 'your_delete_view_name' with your actual Django delete view name
                data: { eventId: eventId, csrfmiddlewaretoken: $("[name=csrfmiddlewaretoken]").val() }, // Include CSRF token
                success: function (data) {
                    // Handle the success response
                    console.log(data);
                    // You can update the UI or perform other actions on success
                },
                error: function (error) {
                    // Handle the error response
                    console.error("Delete event failed:", error);
                }
            });
        });
    });
</script>



{% endblock extra_js %}