
{% block footer %}
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 d-flex align-items-center justify-content-"> <!-- Burası değiştirildi -->
                <strong>2023 © MCBÜ BAUM</strong>
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    <a href="">emeği geçenler</a>
                </div>
            </div>
        </div>
    </div>
</footer>

{% endblock footer %}
    
