
{% block footer %}
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 d-flex align-items-center justify-content-"> <!-- Burası değiştirildi -->
                <a href="https://baum.mcbu.edu.tr/"><strong>2023 © MCBÜ BAUM</strong></a>
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#emekgecenlerModal">emeği geçenler</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="emekgecenlerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Modal İçeriği -->
                <div class="modal-body">
                    <h5 class="fs-15">Mine ALTUĞ</h5>
                    <h3 class="fs-15">Yazılım Geliştirici</h3>
                    <p class="text-muted">Bu web sitesi Manisa Celal Bayar Üniversitesi Bilgisayar Araştırma ve Uygulama Merkezi'nde kısmi
                        zamanlı öğrenci olarak görev alan Mine ALTUĞ tarafından yapılmıştır.</p>
                    <div class="d-flex justify-content-center">
                        <a href="https://www.linkedin.com/in/mine-a-b594281b8/" target="_blank" class="text-dark me-3 fs-3"><i class="bx bxl-linkedin-square"></i></a>
                        <a href="https://github.com/mialtgg" target="_blank" class="text-dark me-3 fs-3"><i class="bx bxl-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</footer>


{% endblock footer %}
    
