{% load static %}
{% block sidebar %}
        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <!-- Dark Logo-->
              
                <!-- Light Logo-->
               
                    
                    
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            <div id="scrollbar">
                <div class="container-fluid">
                    
                    <div id="two-column-menu">
                    </div>
                    <ul class="navbar-nav" id="navbar-nav">
                        <li class="menu-title"><span data-key="t-menu">MCBU</span></li>




                        <li class="nav-item">
                            <a class="nav-link menu-link" href="">
                                <i class="ri-honour-line"></i> <span data-key="t-widgets">Ana sayfa</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="">
                                <i class="ri-file-list-3-line"></i> <span data-key="t-widgets">Randevu Ekle</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="rapor.html">
                                <i class=" bx bx-pie-chart-alt-2"></i> <span data-key="t-widgets">Raporlar</span>
                            </a>
                        </li>




                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
            <div class="sidebar-background"></div>
        </div>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>
{% endblock sidebar %}
    