{% load static %}
{% block sidebar %}
        <!-- ========== App Menu ========== -->
        <div class="app-menu navbar-menu">
            <!-- LOGO -->
            <style>
                      .d-flex.align-items-center {
           
        }
                #page-header-user-dropdown .menu-link span {
                    color: white; /* Buton içindeki metni beyaz yap */
                }
       
                
            </style>
            <div class="">
                
                <button  class="btn" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="d-flex align-items-center ">
                      
                        <a  class="logo logo-light">
                            
                            <span class="logo-lg">
                                <img src="{% static 'images/özelkalemsidebar2.png'%}"alt="" height="80px" >
                            </span>
                        </a>
                    </span>
                </button>
                
              
              
                <!-- Light Logo-->
                    
                    
                <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
                    <i class="ri-record-circle-line"></i>
                </button>
            </div>

            <div id="scrollbar">
                <div class="container-fluid">
                    
                    <div id="two-column-menu">
                    </div>
                    <ul class="navbar-nav" id="navbar-nav">
                        


                        
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link menu-link">
                                <i class="
                                bx bx-user-check">  <span style="font-size: xx-small;" data-key="t-widgets"></i>{{ user.first_name|title }} {{ user.last_name|title }} </span>
                            </a>
                        </li>
                    {% endif %}
                    
                    <hr style="color: #fff;margin-top: 0px; border-style: solid ;width: 180px; margin-left: 15px;" >
                
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="{% url 'succes' %}">
                                <i class="ri-honour-line"></i> <span data-key="t-widgets">Ana sayfa</span>
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="{% url 'randevu' %}" >
                                <i class=" bx bx-highlight"></i> <span data-key="t-widgets">Randevu Ekle</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="{% url 'rapor' %}" >
                                <i class=" bx bx-file"></i> <span data-key="t-widgets">Randevularım</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="{% url 'chart' %}" >
                                <i class=" bx bx-bar-chart-alt-2"></i> <span data-key="t-widgets">Raporlama</span>
                            </a>
                        </li>
                        {% if user.is_authenticated and user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="{% url 'rektör_datatable'%}" >
                                <i class=" b bx bx-lock-open-alt"></i> <span data-key="t-widgets">Tüm Randevular</span>
                            </a>
                        </li>
                        {% endif %}
                        {% if user.username == 'baumadmin' %}
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="{% url 'log_list' %}">
                                <i class=" bx bx-street-view"></i> <span data-key="t-widgets">Log Kayıtları</span>
                            </a>
                        </li>
                    {% endif %}
                        <li class="nav-item">
                            <a class="nav-link menu-link" href="{% url 'logout' %}" >
                                <i class=" bx bx-log-out-circle"></i> <span data-key="t-widgets">Çıkış Yap</span>
                            </a>
                        </li>
                       



                

                    </ul>
                </div>
                <!-- Sidebar -->
            </div>
            <div class="sidebar-background"></div>
        </div>
        <!-- Left Sidebar End -->
        <!-- Vertical Overlay-->
        <div class="vertical-overlay"></div>
{% endblock sidebar %}
    