{% extends "partials/base.html" %}
{% load static %}
{% block title %}Validation{% endblock title %}
{% block extra_css %}
{% endblock extra_css %}
{% block content %}
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
             

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header align-items-center d-flex">
                                    <h4 class="card-title mb-0 flex-grow-1">Şifre Güncelleme</h4>
                                    <div class="flex-shrink-0">
                                        
                                    </div>
                                </div><!-- end card header -->

                                <div class="card-body">
                                    <p class="text-muted">Şifre Güncelleme işlemlerinizi burada yapabilirsiniz. Dikkate etmeniz gerekenler :<br/>
                                        - Parolanız diğer kişisel bilgileriniz ile çok benzer olamaz.<br/>
- Parolanız en az 8 karakter içermek zorundadır.<br/>
- Parolanız yaygın olarak kullanılan bir parola olamaz.<br/>
- Parolanız tamamıyla sayısal olamaz.
                                    </p>
                                    {% if messages %}
                                    <div class="alert alert-danger">
                                        <ul>
                                            {% for message in messages %}
                                            <li>{{ message }}</li>

                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                    <div class="live-preview">
                                        <form class="row g-3" method="POST" action="{% url 'password_change' %}">
                                            {% csrf_token %}
                                 {{ form.as_p}}
                                 <button type="submit" class="btn btn-primary btn-animation waves-effect waves-light" style="display: block; margin: 0 auto; width: 150px " data-text="Şifremi Güncelle"><span>Şifremi Güncelle</span></button>
                                 
                                 
                                        </form>
                                    </div>


        <div class="d-none code-view">
        <pre class="language-markup" style="height: 352px">
        <code>&lt;form class=&quot;row g-3&quot;&gt;
        &lt;div class=&quot;col-md-4&quot;&gt;
        &lt;label for=&quot;validationDefault01&quot; class=&quot;form-label&quot;&gt;First name&lt;/label&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;validationDefault01&quot; value=&quot;Mark&quot; required&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-4&quot;&gt;
        &lt;label for=&quot;validationDefault02&quot; class=&quot;form-label&quot;&gt;Last name&lt;/label&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;validationDefault02&quot; value=&quot;Otto&quot; required&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-4&quot;&gt;
        &lt;label for=&quot;validationDefaultUsername&quot; class=&quot;form-label&quot;&gt;Username&lt;/label&gt;
        &lt;div class=&quot;input-group&quot;&gt;
        &lt;span class=&quot;input-group-text&quot; id=&quot;inputGroupPrepend2&quot;&gt;@&lt;/span&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;validationDefaultUsername&quot; aria-describedby=&quot;inputGroupPrepend2&quot;
            required&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-6&quot;&gt;
        &lt;label for=&quot;validationDefault03&quot; class=&quot;form-label&quot;&gt;City&lt;/label&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;validationDefault03&quot; required&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-3&quot;&gt;
        &lt;label for=&quot;validationDefault04&quot; class=&quot;form-label&quot;&gt;State&lt;/label&gt;
        &lt;select class=&quot;form-select&quot; id=&quot;validationDefault04&quot; required&gt;
        &lt;option selected disabled value=&quot;&quot;&gt;Choose...&lt;/option&gt;
        &lt;option&gt;...&lt;/option&gt;
        &lt;/select&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-3&quot;&gt;
        &lt;label for=&quot;validationDefault05&quot; class=&quot;form-label&quot;&gt;Zip&lt;/label&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;validationDefault05&quot; required&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-12&quot;&gt;
        &lt;div class=&quot;form-check&quot;&gt;
        &lt;input class=&quot;form-check-input&quot; type=&quot;checkbox&quot; value=&quot;&quot; id=&quot;invalidCheck2&quot; required&gt;
        &lt;label class=&quot;form-check-label&quot; for=&quot;invalidCheck2&quot;&gt;
            Agree to terms and conditions
        &lt;/label&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-12&quot;&gt;
        &lt;button class=&quot;btn btn-primary&quot; type=&quot;submit&quot;&gt;Submit form&lt;/button&gt;
        &lt;/div&gt;
        &lt;/form&gt;</code></pre>
       <div class="d-none code-view">
        <pre class="language-markup">
        <code>&lt;form class=&quot;row g-3 needs-validation&quot; novalidate&gt;
        &lt;div class=&quot;col-md-4&quot;&gt;
        &lt;label for=&quot;validationCustom01&quot; class=&quot;form-label&quot;&gt;First name&lt;/label&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;validationCustom01&quot; value=&quot;Mark&quot; required&gt;
        &lt;div class=&quot;valid-feedback&quot;&gt;
        Looks good!
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-4&quot;&gt;
        &lt;label for=&quot;validationCustom02&quot; class=&quot;form-label&quot;&gt;Last name&lt;/label&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;validationCustom02&quot; value=&quot;Otto&quot; required&gt;
        &lt;div class=&quot;valid-feedback&quot;&gt;
        Looks good!
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-4&quot;&gt;
        &lt;label for=&quot;validationCustomUsername&quot; class=&quot;form-label&quot;&gt;Username&lt;/label&gt;
        &lt;div class=&quot;input-group has-validation&quot;&gt;
        &lt;span class=&quot;input-group-text&quot; id=&quot;inputGroupPrepend&quot;&gt;@&lt;/span&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;validationCustomUsername&quot; aria-describedby=&quot;inputGroupPrepend&quot;
            required&gt;
        &lt;div class=&quot;invalid-feedback&quot;&gt;
            Please choose a username.
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-6&quot;&gt;
        &lt;label for=&quot;validationCustom03&quot; class=&quot;form-label&quot;&gt;City&lt;/label&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;validationCustom03&quot; required&gt;
        &lt;div class=&quot;invalid-feedback&quot;&gt;
        Please provide a valid city.
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-3&quot;&gt;
        &lt;label for=&quot;validationCustom04&quot; class=&quot;form-label&quot;&gt;State&lt;/label&gt;
        &lt;select class=&quot;form-select&quot; id=&quot;validationCustom04&quot; required&gt;
        &lt;option selected disabled value=&quot;&quot;&gt;Choose...&lt;/option&gt;
        &lt;option&gt;...&lt;/option&gt;
        &lt;/select&gt;
        &lt;div class=&quot;invalid-feedback&quot;&gt;
        Please select a valid state.
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-3&quot;&gt;
        &lt;label for=&quot;validationCustom05&quot; class=&quot;form-label&quot;&gt;Zip&lt;/label&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;validationCustom05&quot; required&gt;
        &lt;div class=&quot;invalid-feedback&quot;&gt;
        Please provide a valid zip.
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-12&quot;&gt;
        &lt;div class=&quot;form-check&quot;&gt;
        &lt;input class=&quot;form-check-input&quot; type=&quot;checkbox&quot; value=&quot;&quot; id=&quot;invalidCheck&quot; required&gt;
        &lt;label class=&quot;form-check-label&quot; for=&quot;invalidCheck&quot;&gt;
            Agree to terms and conditions
        &lt;/label&gt;
        &lt;div class=&quot;invalid-feedback&quot;&gt;
            You must agree before submitting.
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-12&quot;&gt;
        &lt;button class=&quot;btn btn-primary&quot; type=&quot;submit&quot;&gt;Submit form&lt;/button&gt;
        &lt;/div&gt;
        &lt;/form&gt;</code></pre>
        <div class="d-none code-view">
        <pre class="language-markup" style="height: 352px">
        <code>&lt;form class=&quot;was-validated&quot;&gt;
        &lt;div class=&quot;mb-3&quot;&gt;
        &lt;label for=&quot;validationTextarea&quot; class=&quot;form-label&quot;&gt;Textarea&lt;/label&gt;
        &lt;textarea class=&quot;form-control&quot; id=&quot;validationTextarea&quot; placeholder=&quot;Required example textarea&quot;
            required&gt;&lt;/textarea&gt;
        &lt;div class=&quot;invalid-feedback&quot;&gt;
            Please enter a message in the textarea.
        &lt;/div&gt;
        &lt;/div&gt;

        &lt;div class=&quot;form-check mb-3&quot;&gt;
        &lt;input type=&quot;checkbox&quot; class=&quot;form-check-input&quot; id=&quot;validationFormCheck1&quot; required&gt;
        &lt;label class=&quot;form-check-label&quot; for=&quot;validationFormCheck1&quot;&gt;Check this checkbox&lt;/label&gt;
        &lt;div class=&quot;invalid-feedback&quot;&gt;Example invalid feedback text&lt;/div&gt;
        &lt;/div&gt;

        &lt;div class=&quot;form-check&quot;&gt;
        &lt;input type=&quot;radio&quot; class=&quot;form-check-input&quot; id=&quot;validationFormCheck2&quot; name=&quot;radio-stacked&quot; required&gt;
        &lt;label class=&quot;form-check-label&quot; for=&quot;validationFormCheck2&quot;&gt;Toggle this radio&lt;/label&gt;
        &lt;/div&gt;
        &lt;div class=&quot;form-check mb-3&quot;&gt;
        &lt;input type=&quot;radio&quot; class=&quot;form-check-input&quot; id=&quot;validationFormCheck3&quot; name=&quot;radio-stacked&quot; required&gt;
        &lt;label class=&quot;form-check-label&quot; for=&quot;validationFormCheck3&quot;&gt;Or toggle this other radio&lt;/label&gt;
        &lt;div class=&quot;invalid-feedback&quot;&gt;More example invalid feedback text&lt;/div&gt;
        &lt;/div&gt;

        &lt;div class=&quot;mb-3&quot;&gt;
        &lt;select class=&quot;form-select&quot; required aria-label=&quot;select example&quot;&gt;
            &lt;option value=&quot;&quot;&gt;Open this select menu&lt;/option&gt;
            &lt;option value=&quot;1&quot;&gt;One&lt;/option&gt;
            &lt;option value=&quot;2&quot;&gt;Two&lt;/option&gt;
            &lt;option value=&quot;3&quot;&gt;Three&lt;/option&gt;
        &lt;/select&gt;
        &lt;div class=&quot;invalid-feedback&quot;&gt;Example invalid select feedback&lt;/div&gt;
        &lt;/div&gt;

        &lt;div class=&quot;mb-3&quot;&gt;
        &lt;input type=&quot;file&quot; class=&quot;form-control&quot; aria-label=&quot;file example&quot; required&gt;
        &lt;div class=&quot;invalid-feedback&quot;&gt;Example invalid form file feedback&lt;/div&gt;
        &lt;/div&gt;

        &lt;div class=&quot;mb-3&quot;&gt;
        &lt;button class=&quot;btn btn-primary&quot; type=&quot;submit&quot; disabled&gt;Submit form&lt;/button&gt;
        &lt;/div&gt;
        &lt;/form&gt;</code></pre>
        <div class="d-none code-view">
        <pre class="language-markup">
        <code>&lt;form class=&quot;row g-3 needs-validation&quot; novalidate&gt;
        &lt;div class=&quot;col-md-4 position-relative&quot;&gt;
        &lt;label for=&quot;validationTooltip01&quot; class=&quot;form-label&quot;&gt;First name&lt;/label&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;validationTooltip01&quot; value=&quot;Mark&quot; required&gt;
        &lt;div class=&quot;valid-tooltip&quot;&gt;
            Looks good!
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-4 position-relative&quot;&gt;
        &lt;label for=&quot;validationTooltip02&quot; class=&quot;form-label&quot;&gt;Last name&lt;/label&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;validationTooltip02&quot; value=&quot;Otto&quot; required&gt;
        &lt;div class=&quot;valid-tooltip&quot;&gt;
            Looks good!
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-4 position-relative&quot;&gt;
        &lt;label for=&quot;validationTooltipUsername&quot; class=&quot;form-label&quot;&gt;Username&lt;/label&gt;
        &lt;div class=&quot;input-group has-validation&quot;&gt;
            &lt;span class=&quot;input-group-text&quot; id=&quot;validationTooltipUsernamePrepend&quot;&gt;@&lt;/span&gt;
            &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;validationTooltipUsername&quot;
                aria-describedby=&quot;validationTooltipUsernamePrepend&quot; required&gt;
            &lt;div class=&quot;invalid-tooltip&quot;&gt;
                Please choose a unique and valid username.
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-6 position-relative&quot;&gt;
        &lt;label for=&quot;validationTooltip03&quot; class=&quot;form-label&quot;&gt;City&lt;/label&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;validationTooltip03&quot; required&gt;
        &lt;div class=&quot;invalid-tooltip&quot;&gt;
            Please provide a valid city.
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-3 position-relative&quot;&gt;
        &lt;label for=&quot;validationTooltip04&quot; class=&quot;form-label&quot;&gt;State&lt;/label&gt;
        &lt;select class=&quot;form-select&quot; id=&quot;validationTooltip04&quot; required&gt;
            &lt;option selected disabled value=&quot;&quot;&gt;Choose...&lt;/option&gt;
            &lt;option&gt;...&lt;/option&gt;
        &lt;/select&gt;
        &lt;div class=&quot;invalid-tooltip&quot;&gt;
            Please select a valid state.
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-md-3 position-relative&quot;&gt;
        &lt;label for=&quot;validationTooltip05&quot; class=&quot;form-label&quot;&gt;Zip&lt;/label&gt;
        &lt;input type=&quot;text&quot; class=&quot;form-control&quot; id=&quot;validationTooltip05&quot; required&gt;
        &lt;div class=&quot;invalid-tooltip&quot;&gt;
            Please provide a valid zip.
        &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-12&quot;&gt;
        &lt;button class=&quot;btn btn-primary&quot; type=&quot;submit&quot;&gt;Submit form&lt;/button&gt;
        &lt;/div&gt;
        &lt;/form&gt;</code></pre>
        </div>
                                        
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        
                        </div>
                        <!-- end row -->
                    
                    </div>

                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            
        {% block footer %}
        {% include "partials/footer.html" %}
        {% endblock footer %}
        </div>
        <!-- end main content-->
{% endblock content %}
{% block extra_js %}
    <!-- prismjs plugin -->
    <script src="{% static 'libs/prismjs/prism.js'%}"></script>

    <script src="{% static 'js/pages/form-validation.init.js'%}"></script>
{% endblock extra_js %}